
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All Products : Aling Nena </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Aling Nena</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/about">About</a></li>
            <li class="active"><a href="/products">All Products</a></li>
          </ul>
        </div>
      </div>
    </div>
	
  </head>

  <body>

		<center><img src="banner.jpg"></center>
	    <div class="container">
      		<div class="row">
       			<div class="col-md-6"><center><h1> <font face="verdana" size="6"> Aling Nena's, beside her house (Original) </font> </h1></center>
				<center><img src="alingnenafirststore.jpg" height="420" width="420"></center></div>
				
				<div><center> <h1> <font face="verdana" size="6"> Aling Nena's, LPU Campus (Main store) </font> </h1></center>
				<center><img src="alingnenasecond.jpg" height="420" width="420"></center></div>
       			<br/>
			
				<div>  <p> Started from humble beginnings, Aling Nena's sari-sari store was first put up by Rowena Santiago whose nickname is "Nena"
				beside her house during the 1950's. She started selling
				a variety of chips such as Piatos, Nova, Kornets and the unforgettable Chippy (cheap chips)
				to her classmates while she was still at grade school. During her highschool days, she also
				started to sell canned goods, pansit canton, and other easy-to-cook meals to her schoolmates
				especially her lunch buddies. When she entered college, she decided to take her business
				seriously setting her own convenience store inside her campus. She began to attract thousands
				of customers which compromised of students, teachers, janitors, construction workers and drivers
				due to her store's cheap value of items as well as its cleanliness. Due to her success, Aling Nena
				was able to expand her booming sari-sari store throughout her city. She has a vision of expanding
				her convenience store throughout the Philippines and eventually beat 7-11 and Ministop!</p> 
				<br> </br>
 
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
