<!DOCTYPE html>

<html>

	 <link href="/css/bootstrap.min.css" rel="stylesheet">
	<head>
		<title>Aling Nena: Failed Transaction</title>
	</head>

	<body>
		<h1> <center> Not enough money. Transaction failed. </center> </h1>
	</body>

	<center> <a href ="/products" button type="submit" class="btn btn-danger">View All Products</a></button> </center>
</html>